{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0 text-center flex-grow-1 font-weight-bold" id="liveToday" style="font-family: 'NanumSquareRoundB', sans-serif;"></h5>
            <a href="calendar_page_link">
                <img src="{% static 'img/calendar.png' %}" alt="Go to Calendar">
            </a>
        </div>
        <div class="card-body" style="font-family: 'NanumSquareRoundB', sans-serif; text-align: center;">
            {% for medication in medicines %}
                <form method="POST" action="{% url 'save_medication' %}">
                    {% csrf_token %}
                    <!-- 약 이름 출력 -->
                    <h4>{{ medication.name }}</h4>
                    <!-- 아침, 점심, 저녁 체크박스 -->
                    <input type="checkbox" name="morning" {% if medication.morning_dose %}checked{% endif %}> 아침
                    <input type="checkbox" name="lunch" {% if medication.lunch_dose %}checked{% endif %}> 점심
                    <input type="checkbox" name="dinner" {% if medication.dinner_dose %}checked{% endif %}> 저녁
                    <!-- 약 이름을 hidden 필드로 전송 -->
                    <input type="hidden" name="medication_name" value="{{ medication.name }}">
                    <!-- 제출 버튼 -->
                    <button type="submit" class="btn btn-primary">저장</button>
                </form>
            {% endfor %}
        </div>
    </div>
</div>
<style>
.mt-5 {
    margin-top: 3rem !important;
}
.transparent-btn {
    background-color: transparent;
    border: none;
}
</style>
<div class="container" style="margin-top: 80px;">
    <div class="d-flex justify-content-center flex-wrap">
        <div class="p-2">
            <button type="button" id="search" class="btn btn-secondary transparent-btn" onclick="location.href='/search';">
                <img src="{% static 'img/search.png' %}" alt="Search">
            </button>
            <span class="d-block text-center" style="font-family: 'NanumSquareRoundB', sans-serif;">약품 검색</span>
        </div>
        <div class="p-2">
            <button type="button" id="manage" class="btn btn-secondary transparent-btn" onclick="location.href='/manage';">
                <img src="{% static 'img/edit.png' %}" alt="manage">
            </button>
            <span class="d-block text-center" style="font-family: 'NanumSquareRoundB', sans-serif;">약품 관리</span>
        </div>
        <div class="p-2">
            <button type="button" id="community" class="btn btn-secondary transparent-btn" onclick="location.href='/forum';">
                <img src="{% static 'img/board.png' %}" alt="board">
            </button>
            <span class="d-block text-center" style="font-family: 'NanumSquareRoundB', sans-serif;">커뮤니티</span>
        </div>
    </div>
</div>
{% if alert %}
<script>
Swal.fire({
  title: '변경 성공!!',
  text: '{{ alert }}',
  icon: 'success',
  confirmButtonText: '확인'
});
</script>
{% endif %}

<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!

    var currentDate = mm + '/' + dd;

    document.getElementById('liveToday').innerHTML = currentDate;
</script>

{% endblock %}
