{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'common:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
    
<script>
document.addEventListener('DOMContentLoaded', function() {
    var loginForm = document.querySelector('form');
    loginForm.addEventListener('submit', function(e) {
        e.preventDefault(); // 폼의 기본 제출을 방지합니다.

        // FormData 객체를 사용하여 폼 데이터를 가져옵니다.
        var formData = new FormData(loginForm);
        // Fetch API를 통해 로그인 요청을 보냅니다.
        fetch('{% url 'common:api_login' %}', { // REST API 로그인 URL로 변경
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}', // CSRF 토큰 포함
                'Content-Type': 'application/json' // JSON 형식으로 전송
            },
            body: JSON.stringify({
                username: formData.get('username'),
                password: formData.get('password')
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.token) {
                // 토큰을 로컬 스토리지에 저장합니다.
                localStorage.setItem('token', data.token);
                // next 파라미터 또는 홈페이지로 리디렉션합니다.
                window.location.href = formData.get('next') || '/';
            } else {
                // 로그인 실패 처리
                alert('로그인 실패');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
{% endblock %}
