<!-- manage/templates/calendar.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<head>
    {% csrf_token %}
    <title>Calendar</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fullcalendar.io/releases/main/core/main.css" rel="stylesheet" />
    <link href="https://fullcalendar.io/releases/main/daygrid/main.css" rel="stylesheet" />
    <script src="https://fullcalendar.io/releases/main/core/main.js"></script>
    <script src="https://fullcalendar.io/releases/main/interaction/main.js"></script>
    <script src="https://fullcalendar.io/releases/main/daygrid/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="calendar"></div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-text">No data</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                defaultView: 'dayGridMonth',
                dateClick: function(info) {
                    var date = info.dateStr;  // 클릭된 날짜를 가져옵니다.
                    $.ajax({
                        url: '/get_medications/',  // 복용 정보를 가져올 서버의 URL입니다.
                        type: 'POST',  // 요청 타입입니다.
                        data: {
                            'date': date
                        },
                        dataType: 'json',
                        success: function(data) {
                            // 서버로부터 받아온 데이터를 모달에 표시합니다.
                            var modal = document.getElementById("modal");
                            var span = document.getElementsByClassName("close")[0];

                            // 받아온 약의 목록을 모달에 표시합니다.
                            $('#modal-text').html('');
                            for (var i = 0; i < data.medicines.length; i++) {
                              $('#modal-text').append('<p>' + data.medicines[i] + '</p>');
                            }

                            modal.style.display = "block";
                            span.onclick = function() {
                                modal.style.display = "none";
                            }
                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }
                        },
                        // AJAX 요청이 실패했을 때의 처리입니다.
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>
{% endblock %}
