<!-- manage/templates/calendar.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<head>
    {% csrf_token %}
    <title>Calendar</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="calendar"></div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-text">No data</p>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                defaultView: 'dayGridMonth',
                dateClick: function(info) {
                    var date = info.dateStr;
                    $.ajax({
                        url: '/get_medications/',
                        type: 'POST',
                        data: {
                            'date': date
                        },
                        dataType: 'json',
                        success: function(data) {
                            var modal = document.getElementById("modal");
                            var span = document.getElementsByClassName("close")[0];
                            $('#modal-text').html('');
                            for (var i = 0; i < data.medicines.length; i++) {
                              $('#modal-text').append('<p>' + data.medicines[i] + '</p>');
                            }

                            modal.style.display = "block";
                            span.onclick = function() {
                                modal.style.display = "none";
                            }
                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>
{% endblock %}
