{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="padding-left: 20px;">
        <button class="btn btn-link" onclick="window.history.back();" style="font-family: 'NanumSquareRoundB', sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img src="/static/img/back.png" alt="Toggle navigation" class="back-icon">
        </button>
    </a>
</nav>

    <div class="container" style="font-family: 'NanumSquareRoundB', sans-serif;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto">
                <div class="card mt-3">
                    <div class="card-body">
                        <h2 class="card-title">게시글 수정</h2>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">수정</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
